<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.len.mapper.SysRoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.len.entity.SysRoleMenu">
    <id column="role_id" jdbcType="VARCHAR" property="roleId" />
    <id column="menu_id" jdbcType="VARCHAR" property="menuId" />
  </resultMap>

  <sql id="Base_Column_List">
    role_id, menu_id
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="com.len.entity.SysRoleMenu">
    delete from sys_role_menu
    where role_id = #{roleId,jdbcType=VARCHAR}
      and menu_id = #{menuId,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.len.entity.SysRoleMenu">
    insert into sys_role_menu (role_id, menu_id)
    values (#{roleId,jdbcType=VARCHAR}, #{menuId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.len.entity.SysRoleMenu">
    insert into sys_role_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectByCondition" parameterType="com.len.entity.SysRoleMenu" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_role_menu
    <where>
      <if test="menuId!=null and menuId!=''">and menu_id =#{menuId,jdbcType=VARCHAR}</if>
      <if test="roleId!=null and roleId!=''">and role_id =#{roleId,jdbcType=VARCHAR}</if>
    </where>
  </select>

  <select id="selectCountByCondition" parameterType="com.len.entity.SysRoleMenu" resultType="java.lang.Integer">
    select
    count(*)
    from sys_role_menu
    <where>
      <if test="menuId!=null and menuId!=''">and menu_id =#{menuId,jdbcType=VARCHAR}</if>
      <if test="roleId!=null and roleId!=''">and role_id =#{roleId,jdbcType=VARCHAR}</if>
    </where>
  </select>
</mapper>