<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.len.mapper.ArticleCategoryMapper">
  <resultMap id="BaseResultMap" type="com.len.entity.ArticleCategory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="article_id" jdbcType="VARCHAR" property="articleId" />
    <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
  </resultMap>
  <delete id="delByIds">
    delete from blog_article_category
    <where>
      <if test="ids!=null and ids.size()>0">
        id in(
        <foreach collection="ids" separator="," item="id">
          #{id}
        </foreach>
        )
      </if>
    </where>
  </delete>
</mapper>