<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.len.mapper.BlogArticleMapper">
  <resultMap id="BaseResultMap" type="com.len.model.BlogArticle">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="content_md" jdbcType="LONGVARCHAR" property="contentMd" />
    <result column="content_html" jdbcType="LONGVARCHAR" property="contentHtml" />
    <result column="read_quantity" jdbcType="INTEGER" property="readQuantity" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, description, content_md, content_html, read_quantity, gmt_created, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blog_art
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from blog_art
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.len.model.BlogArticle">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
    SELECT REPLACE(UUID(),'-','') AS ID FROM DUAL
    </selectKey>
    insert into blog_art (title, description, content_md, 
      content_html, read_quantity, gmt_created, 
      gmt_modified)
    values (#{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{contentMd,jdbcType=LONGVARCHAR}, 
      #{contentHtml,jdbcType=LONGVARCHAR}, #{readQuantity,jdbcType=INTEGER}, #{gmtCreated,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.len.model.BlogArticle">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
    SELECT REPLACE(UUID(),'-','') AS ID FROM DUAL
    </selectKey>
    insert into blog_art
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="contentMd != null">
        content_md,
      </if>
      <if test="contentHtml != null">
        content_html,
      </if>
      <if test="readQuantity != null">
        read_quantity,
      </if>
      <if test="gmtCreated != null">
        gmt_created,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="contentMd != null">
        #{contentMd,jdbcType=LONGVARCHAR},
      </if>
      <if test="contentHtml != null">
        #{contentHtml,jdbcType=LONGVARCHAR},
      </if>
      <if test="readQuantity != null">
        #{readQuantity,jdbcType=INTEGER},
      </if>
      <if test="gmtCreated != null">
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.len.model.BlogArticle">
    update blog_art
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="contentMd != null">
        content_md = #{contentMd,jdbcType=LONGVARCHAR},
      </if>
      <if test="contentHtml != null">
        content_html = #{contentHtml,jdbcType=LONGVARCHAR},
      </if>
      <if test="readQuantity != null">
        read_quantity = #{readQuantity,jdbcType=INTEGER},
      </if>
      <if test="gmtCreated != null">
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.len.model.BlogArticle">
    update blog_art
    set title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      content_md = #{contentMd,jdbcType=LONGVARCHAR},
      content_html = #{contentHtml,jdbcType=LONGVARCHAR},
      read_quantity = #{readQuantity,jdbcType=INTEGER},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>