<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.len.mapper.RskInfoMapper">
    <resultMap id="BaseResultMap" type="com.len.entity.RskInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="H_ID" jdbcType="VARCHAR" property="hId"/>
        <result column="P_ID" jdbcType="VARCHAR" property="pId"/>
        <result column="H_Type" jdbcType="VARCHAR" property="hType"/>
        <result column="H_Des" jdbcType="VARCHAR" property="hDes"/>
        <result column="H_Grade" jdbcType="VARCHAR" property="hGrade"/>
        <result column="H_Influence" jdbcType="VARCHAR" property="hInfluence"/>
        <result column="H_Tactics" jdbcType="VARCHAR" property="hTactics"/>
        <result column="H_State" jdbcType="VARCHAR" property="hState"/>
        <result column="H_Frequency" jdbcType="INTEGER" property="hFrequency"/>
        <result column="H_Manager" jdbcType="VARCHAR" property="hManager"/>
        <result column="H_Creator" jdbcType="VARCHAR" property="hCreator"/>
    </resultMap>

    <select id="selectByPmId" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT *
        FROM rsk_info
        where P_ID = #{pm_id}
    </select>
</mapper>