/*dwn*/
.cont {width:100%;height:auto;background: rgba(255, 255, 255, 0.12);}
.cont .blog-left{width:62%;height:auto;float:left;list-style: none;}
.cont .content{width:80%;height:auto;margin:30px auto;border:0px solid red;}

.clearfix:after{
  content:"";
  height:0;
  line-height:0;
  display:block;
  clear:both;
  visibility:hidden;
}
.clearfix{
  zoom:1;
}

@media screen and (max-width: 768px) {
  .cont {width:100%;height:auto;background:rgba(255, 255, 255, 0.12);}
  .cont .blog-left{width:100%;height:auto;float:left;list-style: none;}
  .cont .content{width:90%;height:auto;margin:30px auto;border:0px solid red;}
}
